<div class="row page-titles">
  <div class="col-md-5 col-8 align-self-center">
    <h3 class="text-themecolor">Settings</h3>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
      <li class="breadcrumb-item active">Settings</li>
    </ol>
  </div>
  <div class="col-md-7 col-4 align-self-center"></div>
</div>

<mat-grid-list cols="3" rowHeight="100px">
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile class="text-center">
    <button mat-raised-button color="primary">
      Monitor Delay in (milliseconds)
    </button>
  </mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile class="text-center">
    <button mat-raised-button color="primary">
        Export logs
    </button>
  </mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile class="text-center">
    <button mat-raised-button color="primary">
      Assign proxies: Random or Linear <br> (dropdown menu or checkboxes)
    </button>
  </mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile class="text-center">
    <button mat-raised-button color="primary">
      One checkout per card per site
    </button>
  </mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="6" rowHeight="100px">
  <mat-grid-tile>
    <button mat-raised-button class="empty-box">
      <br>
    </button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-raised-button class="empty-box">
      <br>
    </button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-raised-button class="empty-box">
      <br>
    </button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-raised-button class="empty-box">
      <br>
    </button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-raised-button class="empty-box">
      <br>
    </button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-raised-button color="warn">Settings</button>
  </mat-grid-tile>
</mat-grid-list>