<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li> <a class="waves-effect waves-dark" routerLink="/home/dashboard" routerLinkActive="active"><i class="mdi mdi-gauge"></i><span class="hide-menu">Dashboard</span></a>
                </li>
                <li> <a class="waves-effect waves-dark" routerLink="/home/task-creator" routerLinkActive="active"><i class="mdi mdi-clipboard-check"></i><span class="hide-menu">TaskCreator</span></a>
                </li>
                <li> <a class="waves-effect waves-dark" routerLink="/home/checkout-profile" routerLinkActive="active"><i class="mdi mdi-account-check"></i><span class="hide-menu">Checkout Profile</span></a>
                </li>
                <li> <a class="waves-effect waves-dark" routerLink="/home/proxies" routerLinkActive="active"><i class="mdi mdi-server-network"></i><span class="hide-menu">Proxies</span></a>
                </li>
                <li> <a class="waves-effect waves-dark" routerLink="/home/settings" routerLinkActive="active"><i class="mdi mdi-settings"></i><span class="hide-menu">Settings</span></a>
                </li>
                <li> <a class="waves-effect waves-dark" routerLink="/home/gmail-accounts" routerLinkActive="active"><i class="mdi mdi-gmail"></i><span class="hide-menu">Gmail Accounts</span></a>
                </li>
                <li> <a class="waves-effect waves-dark" routerLink="/home/shopify-url" routerLinkActive="active"><i class="mdi mdi-shopping"></i><span class="hide-menu">Shopify URLs</span></a>
                </li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
    <!-- Bottom points-->
    <div class="sidebar-footer">
        <a routerLink="dashboard" class="link" data-toggle="tooltip" title="Settings"><i class="ti-settings"></i></a>
        <a routerLink="dashboard" class="link" data-toggle="tooltip" title="Email"><i class="mdi mdi-gmail"></i></a>
        <a routerLink="dashboard" class="link" data-toggle="tooltip" title="Logout"><i class="mdi mdi-power"></i></a> </div>
    <!-- End Bottom points-->
</aside>